<section class="py-5 shadow my-5 px-3 rounded-2">
  <div class="row">
    @if(step ===1){
      <div class="col-md-6">
        <img src="/Forgot password.gif" class="w-100 object-fit-contain" alt="">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="w-100">
          <h4 class="fw-medium header-form">Enter Email to send code</h4>
          <span>Enter your your email below</span>
          <form class="mt-4" [formGroup]="forgetPasswordForm" (ngSubmit)="sumbitForgetPasswordForm()">

            <div class="form-floating mb-3">
              @let emailControl = forgetPasswordForm.get('email');
              <input required type="email" class="form-control"
              [class.is-invalid]="emailControl?.invalid && emailControl?.touched"
              [class.is-valid]="emailControl?.valid && emailControl?.touched"
              formControlName="email"
              id="userEmail" placeholder="name@example.com">
              @if (emailControl?.invalid && emailControl?.touched) {
                <div class="invalid-feedback">
                  Please enter a valid email ex(emanshehatagmail.com)
                </div>
              }
              <label for="userEmail" class="px-0 text-muted">User Email<span class="text-danger">*</span></label>
            </div>
            <button [disabled]="forgetPasswordForm.invalid" type="sumbit" class=" bg-main text-white border-0 w-100 py-2 rounded-2">Send Code
              @if (isLoading) {
              <span><i class="fas fa-spin fa-spinner "></i></span>
              }
            </button>
          </form>

        </div>
      </div>
    }
    @else if (step===2) {
      <div class="col-md-6">
        <img src="/Enter OTP.gif" class="w-100 object-fit-contain" alt="">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="w-100">
          <h4 class="fw-medium header-form">Enter OTP</h4>
          <span>Enter your your vervifaction code that send to your email</span>
          <form class="mt-4" [formGroup]="verifyCodeForm" (ngSubmit)="sumbitVerifyCodeForm()">

            <div class="form-floating mb-3">
              @let resetCodeControl = forgetPasswordForm.get('resetCode');
              <input required type="text" class="form-control"
              [class.is-invalid]="resetCodeControl?.invalid && resetCodeControl?.touched"
              [class.is-valid]="resetCodeControl?.valid && resetCodeControl?.touched"
              formControlName="resetCode"
              id="userOTP" placeholder="name@example.com">
              @if (resetCodeControl?.invalid && resetCodeControl?.touched) {
                <div class="invalid-feedback">
                  Please enter a valid email ex(emanshehatagmail.com)
                </div>
              }
              <label for="userOTP" class="px-0 text-muted">OTP<span class="text-danger">*</span></label>
            </div>
            <button [disabled]="verifyCodeForm.invalid" type="sumbit" class=" bg-main text-white border-0 w-100 py-2 rounded-2">Sumbit
              @if (isLoading) {
              <span><i class="fas fa-spin fa-spinner "></i></span>
              }
            </button>
          </form>

        </div>
      </div>
    }

    @else if (step===3) {
      <div class="col-md-6">
        <img src="/Forgot password.gif" class="w-100 object-fit-contain" alt="">
      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div class="w-100">
          <h4 class="fw-medium header-form">Enter New Password</h4>
          <span>Enter your your new password below</span>
          <form class="mt-4" [formGroup]="createNewPassword" (ngSubmit)="sumbitCreatNewPasswordForm()">

            <div class="form-floating mb-3">
              <input
               required
               readonly
               type="email" class="form-control"
              formControlName="email"
              id="userEmail" placeholder="name@example.com">
              <label for="userEmail" class="px-0 text-muted">User Email<span class="text-danger">*</span></label>
            </div>
            <div class="form-floating mb-3 position-relative">
              @let passwordControl =  createNewPassword.get('newPassword');
              <input required
                [type]="showPassword ? 'text' : 'password'"
                class="form-control pe-5"
                [class.is-invalid]="passwordControl?.invalid && passwordControl?.touched"
                [class.is-valid]="passwordControl?.valid && passwordControl?.touched"
                formControlName="newPassword"
                id="userPassword"
                placeholder="Eman1234">
                @if (passwordControl?.invalid && passwordControl?.touched) {
                  <div class="invalid-feedback">
                    Please enter a valid password ex: eman1234
                  </div>
                }
              <label for="userPassword" class="px-0 text-muted">User Password<span class="text-danger">*</span></label>

              <!-- Eye Icon Positioned at the End -->
              <span class="position-absolute end-0 top-50 translate-middle-y me-3 main-color"
                    type="button" (click)="togglePassword()">
                @if (showPassword) {
                  <i class="fa-solid fa-eye-slash"></i>
                } @else {
                  <i class="fa-solid fa-eye"></i>
                }
              </span>
            </div>
            <button [disabled]="forgetPasswordForm.invalid" type="sumbit" class=" bg-main text-white border-0 w-100 py-2 rounded-2">Sumbit
              @if (isLoading) {
              <span><i class="fas fa-spin fa-spinner "></i></span>
              }
            </button>
          </form>

        </div>
      </div>
    }
  </div>
</section>


