<section class="py-5 shadow my-5 px-3 rounded-2">
  <div class="row">
    <div class="col-md-6">
      <img src="/Sign in.gif" class="w-100 object-fit-contain" alt="">
    </div>
    <div class="col-md-5 d-flex align-items-center">
      <div class="w-100">
        <h4 class="fw-medium header-form">Login to E-Commerce</h4>
        <span>Enter your details below</span>
        <form class="mt-4" [formGroup]="loginForm" (ngSubmit)="sumbitLoginForm()">

          <div class="form-floating mb-3">
            @let emailControl = loginForm.get('email');
            <input required type="email" class="form-control"
            [class.is-invalid]="emailControl?.invalid && emailControl?.touched"
            [class.is-valid]="emailControl?.valid && emailControl?.touched"
            formControlName="email"
            id="userEmail" placeholder="name@example.com">
            @if (emailControl?.invalid && emailControl?.touched) {
              <div class="invalid-feedback">
                Please enter a valid email ex(emanshehatagmail.com)
              </div>
            }
            <label for="userEmail" class="px-0 text-muted">User Email<span class="text-danger">*</span></label>
          </div>

          <div class="form-floating mb-3 position-relative">
            @let passwordControl = loginForm.get('password');
            <input required
              [type]="showPassword ? 'text' : 'password'"
              class="form-control pe-5"
              [class.is-invalid]="passwordControl?.invalid && passwordControl?.touched"
              [class.is-valid]="passwordControl?.valid && passwordControl?.touched"
              formControlName="password"
              id="userPassword"
              placeholder="Eman1234">
              @if (passwordControl?.invalid && passwordControl?.touched) {
                <div class="invalid-feedback">
                  Please enter a valid password ex: eman1234
                </div>
              }
            <label for="userPassword" class="px-0 text-muted">User Password<span class="text-danger">*</span></label>

            <!-- Eye Icon Positioned at the End -->
            <span class="position-absolute end-0 top-50 translate-middle-y me-3 main-color"
                  type="button" (click)="togglePassword()">
              @if (showPassword) {
                <i class="fa-solid fa-eye-slash"></i>
              } @else {
                <i class="fa-solid fa-eye"></i>
              }
            </span>
          </div>

          <button [disabled]="loginForm.invalid" type="sumbit" class=" bg-main text-white border-0 w-100 py-2 rounded-2"> Log In
            @if (isLoading) {
            <span><i class="fas fa-spin fa-spinner "></i></span>
            }
          </button>
          <span class="text-muted d-block text-center mt-2 d-flex justify-content-between"><span>Don't have an Account?<a routerLink="/register" class="text-black text-decoration-underline ms-3 pb-1 underline-link" type="button"> Register</a></span>
          <a class="main-color text-decoration-none" type="buuton" routerLink="/forgetPassword">Forget Password</a>
          </span>
        </form>

      </div>
    </div>
  </div>
</section>

