<section class="my-5 py-5">
  @if(cartData()?.['totalCartPrice'] > 0){
   <div class="table-responsive">
    <table class="table cart-table">
      <thead >
          <tr class="">
              <th>Product</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
          </tr>
      </thead>
      <tbody>


        @for (item of (cartData()?.['products'] ?? []); track $index) {
          <tr>
            <td>
              <div class="cell-img position-relative">
                <img [src]="item.product.imageCover" class="" [alt]="item.product.title">
                <span  data-bs-toggle="modal" data-bs-target="#confirmModal2" type="button" class="remove d-flex justify-content-center align-items-center bg-main text-white rounded-circle position-absolute "><i class="fa-solid fa-xmark"></i></span>
                <span class="ms-3">{{item.product.title.split(" ").slice(0, 2).join(" ")}}
                </span>
              </div>


            </td>
            <td>{{item.price}}$</td>
            <td class="d-flex justify-content-center">
              <div class="update-count d-flex align-items-center border px-2 py-1 rounded-2">
                <span>{{item.count}}</span>
                <span class="d-flex flex-column ms-4">
                   <span (click)="updateCountProduct(item.product.id,item.count + 1)" type="button" class="main-color"><i class="fa-solid fa-angle-up"></i></span>
                   <span (click)="updateCountProduct(item.product.id,item.count - 1)" type="button" class="main-color"><i class="fa-solid fa-angle-down"></i></span>
                </span>
              </div>
            </td>
            <td>{{ (+item.count) * (+item.price) }}$
            </td>
          </tr>

<div class="modal fade" id="confirmModal2" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-0 shadow-none">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/Inbox cleanup (1).gif" class="w-50 mb-3" alt="Cleanup Image">
        <p>Are you sure you want to clear this item?</p>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="removeCartItem(item.product.id)" data-bs-dismiss="modal">Yes, Clear product</button>
      </div>
    </div>
  </div>
</div>
        }


      </tbody>
    </table>
   </div>

  <div class="d-flex justify-content-between my-2">
      <button class="text-white rounded-2 border-0 px-4 py-2 bg-dark my-4" routerLink="/products" >Return To Shop</button>
      <button class="text-white rounded-2 border-0 px-4 py-2 bg-main my-4" data-bs-toggle="modal" data-bs-target="#confirmModal">Clear Cart</button>
  </div>

  <div class="row align-items-center">
    <!-- Coupon Input Section -->
    <div class="col-12 col-md-4 mb-3 mb-md-0">
      <div class="d-flex flex-column flex-sm-row">
        <input type="text" class="form-control me-sm-2 border border-1 rounded-2 border-black" placeholder="Coupon Code">
        <button class="text-white rounded-2 border-0 px-4 text-nowrap bg-main py-2 mt-2 mt-sm-0">
          Apply Coupon
        </button>
      </div>
    </div>

    <!-- Cart Total Section -->
    <div class="col-12 col-md-4 ms-auto">
      <div class="cart-total border border-1 border-black rounded-2 p-4">
        <h5>Cart Total</h5>
        <p class="mt-4 d-flex justify-content-between">
          <span>Subtotal:</span>
          <span>{{ cartData()?.['totalCartPrice'] ?? 0 }}$</span>
        </p>
        <hr>
        <p class="mt-4 d-flex justify-content-between">
          <span>Shipping:</span>
          <span>Free</span>
        </p>
        <hr>
        <p class="mt-4 d-flex justify-content-between">
          <span>Total:</span>
          <span>{{ cartData()?.['totalCartPrice'] ?? 0 }}$</span>
        </p>
        <button
        [routerLink]="['/checkout', cartId]"
         class="text-white rounded-2 border-0 px-4 text-nowrap bg-main py-2 w-100">
          Proceed to checkout
        </button>
      </div>
    </div>
  </div>

  }

  @else
  {
    <div class="row shadow rounded-2">
      <div class="col-md-4 m-auto ">
        <div class="">
          <img src="/Online Groceries.gif" class="w-100" alt="">
          <h3 class="mt-3 text-center">Your Cart is Empty</h3>
          <p class="text-center">Looks like you haven't added anything to your cart yet.</p>
          <button routerLink="/products" class="text-white rounded-2 border-0 px-4 py-2 bg-main my-4 d-block m-auto">Shop Now</button>
        </div>
      </div>
    </div>
  }
</section>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content border-0 shadow-none">
      <div class="modal-header border-0">
        <h5 class="modal-title" id="confirmModalLabel">Confirm Action</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img src="/Inbox cleanup.gif" class="w-50 mb-3" alt="Cleanup Image">
        <p>Are you sure you want to clear the cart?</p>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="clearCartItems()" data-bs-dismiss="modal">Yes, Clear Cart</button>
      </div>
    </div>
  </div>
</div>



